/* color palette from <https://github.com/vuejs/theme> */
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  font-weight: normal;
}

/* TODO: finish override color variables */
:root, html, html.dark {
  --el-color-primary: violet !important;
  --el-color-primary-light-3: rgb(160, 29, 160) !important;
}

body {
  transition: color 0.5s, background-color 0.5s;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
